<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDO-Checklist</title>
</head>
<body>
    <header>
        <button>
            <section class="nav-icon"></section>
        </button>
        <nav>
            <a href="">Tutorial</a>
            <a href="">About</a>
        </nav>
        <hr>
        <h1>What's Up?</h1>
        <ul>
            <li>
                <label class="container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    Just.
                  </label>
            </li>
            <li>
                <label class="container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    Keep.
                  </label>
            </li>
            <li>
                <label class="container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    Track.
                  </label>
            </li>
        </ul>
        <img src="imgs/clipboard.png" alt="clipboard">
    </header>
    <main>
        <section class="label-done">Open</section>
        <section class="label-open">Done</section>
        <ul>
            <li>
                <p>Task1</p>
                    <input type="checkbox">
                    <span class="checkmark"></span>
            </li>
        </ul>
        <button>Add</button>
        <button>Remove</button>
    </main>
    <footer>
        <h2>All Organised Up?</h2>
        <p>Feel Free To Check Out My</p>
        <div class="link-github">
            <p>Github</p>
            <a href="https://github.com/xderfred"><img src="imgs/github-mark.png" alt="github-mark"></a>
        </div>
        <div class="link-homepage">
            <p>Homepage</p>
            <a href="#">
                <section class="icon-homepage">
                    <section class="icon-h">H</section>
                </section>
            </a>
        </div>
    </footer>
</body>
</html>